body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;  background-size: cover;
  background-image: url(nggbg.png);
}

header {
  background-color: rgba(0, 0, 0, 0);
  color: #4f4f4f;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px #f3f1f1;

}

nav {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

section {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  color: #fff;
  text-shadow: 2px 2px #000;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}

iframe {
  width: 100%;
  height: 900px;
  margin-top: 50px;
}
.input {
  font-family: 'Lexend', sans-serif;
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: #fff;
  border: 2px solid #000;
  width: 90%;
  height: auto;
  display: block;
  transition: all 0.3s;
}

.input:placeholder-shown+.fl {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

h2 {
  font-weight: bold;
  text-align: center;
  color: white;
}
button {
  background: linear-gradient(to bottom, #616a70, #ffffff); 
  color: #000; 
  font-weight: bold; 
  padding: 15px 20px; 
  border: none; 
  border-radius: 4.9px; 
  box-shadow: 2px 2px 5px rgba(0,0,1,0.3); 
  cursor: pointer; 
  font-family: 'Lexend', sans-serif;
  height: auto; 
  width: auto;
  display: inline-block;
  margin-bottom: 25px;
  margin-left: 15px
}

div {
  text-align: center;
}
